.stage {
    max-width: 450px !important;
    padding-top: 10px;
}

.calendar {
    max-width: 450px !important;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px;
}

.days div{
    height: 5rem;
    max-width: 5rem;
    background-color: #d1d1d1;
    padding-left: 3px;
}

.pairing-details {
    /* background-color: aqua; */
    margin-top: 5px;
}