.calendar {
    width: 400px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days div{
    background-color: forestgreen
}