.stage {
    max-width: 450px !important;
    background-color: burlywood;
}

.calendar {
    max-width: 450px !important;
    background-color: aqua;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px;
}

.days div{
    background-color: forestgreen;
    height: 5rem;
    max-width: 5rem;
}

.pairing-details {
    background-color: aqua;
    margin-top: 5px;
}